<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @smoke.user_id %>
</p>

<p>
  <strong>Smoke date:</strong>
  <%= @smoke.smoke_date %>
</p>

<p>
  <strong>Smoke latitude:</strong>
  <%= @smoke.smoke_latitude %>
</p>

<p>
  <strong>Smoke longitude:</strong>
  <%= @smoke.smoke_longitude %>
</p>

<%= link_to 'Edit', edit_smoke_path(@smoke) %> |
<%= link_to 'Back', smokes_path %>
